django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-redis
redis
celery[redis]
django-cors-headers
bcrypt
python-decouple
pandas
numpy
sqlalchemy
psycopg2-binary
gunicorn
whitenoise
